.env
.idea/
.vscode/
vendor/
node_modules/
framework/
public/test.php
var/cache/
var/tmp/
var/log/
var/runtime/
var/dumps/
.phpunit.result.cache
phpdoc.xml
docs/
cache/
doctum.config.php
composer.lock
