<?php


namespace App\Commands;

use OSN\Framework\Console\Command;
use Symfony\Component\Console\Input\InputInterface;
use Symfony\Component\Console\Output\OutputInterface;

class %s extends Command
{
    protected static $defaultName = "name:subcmd";
    protected static $defaultDescription = "Description";

    protected function configure()
    {
        //
    }

    protected function execute(InputInterface $input, OutputInterface $output): int
    {
        return 0;
    }
}
