<?php


namespace App\Http\Controllers;

use App\Core\Controller;
use App\Core\View;
use App\Core\Request;

class {{ controller }} extends Controller
{
    public function index()
    {

    }

    public function store(Request $request)
    {

    }

    public function update(Request $request)
    {

    }

    public function delete(Request $request)
    {

    }
}