<?php


namespace App\Http\Controllers;

use OSN\Framework\Core\Controller;
use OSN\Framework\Http\Request;
%s

class %s extends Controller
{
    public function index()
    {

    }

    public function view()
    {

    }

    public function create()
    {

    }

    public function store(%s $request)
    {

    }

    public function edit()
    {

    }

    public function update(%s $request)
    {

    }

    public function delete(Request $request)
    {

    }
}
