<?php

namespace App\Http\Middleware;

use OSN\Framework\Core\Middleware;
use OSN\Framework\Http\Request;
use OSN\Framework\Http\Response;

class %s extends Middleware
{
    /**
     * Handle the request.
     *
     * @return ?string|Response|bool
     */
    public function handle(Request $request)
    {
        return true;
    }
}
