<?php

use OSN\Framework\Core\Migration;
use OSN\Framework\Database\Common\Blueprint;
use OSN\Framework\Facades\Schema;

class %s extends Migration
{
    public function safeUp()
    {
        Schema::create('%s', function (Blueprint $table) {
            $table->id();
            $table->timestamps();
        });
    }

    public function safeDown()
    {
        Schema::dropIfExists('%s');
    }
}
