<?php


namespace App\Http\Requests;


use OSN\Framework\Http\Request;

class %s extends Request
{
    public function authorize(): bool
    {
        return true;
    }

    public function rules(): array
    {
        return [];
    }
}
